In [3]:
!   pip install pandas

Collecting pandas
  Using cached pandas-2.3.1-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.3.1-cp312-cp312-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kleve\projeto\projeto\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\kleve\projeto\projeto\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.3.1-cp312-cp312-win_amd64.whl (11.0 MB)
Using cached numpy-2.3.1-cp312-cp312-win_amd64.whl (12.7 MB)
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.3.1 pandas-2.3.1 pytz-2025.2 tzdata-2025.2

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import pandas as pd

d_cidade = pd.read_csv("cidade.csv", sep=",")

In [4]:
# Verifica se o pandas está instalado e mostra a versão
import pandas as pd
print(pd.__version__)

2.3.1

In [6]:
d_cidade.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   city      100 non-null    object
 1   state_id  100 non-null    int64
 2   city_id   100 non-null    int64
dtypes: int64(2), object(1)
memory usage: 2.5+ KB

In [7]:
d_cidade.head()

                   city             state_id              city_id
0   São José do Goiabal  2755422274446512640   670134511382200832
1           Pederneiras  2066774635771587840  1734898293086970880
2             Unistalda  1255006025180785920  1215291016113604608
3  Córrego do Bom Jesus  2755422274446512640  1751285020827958784
4      Nova Monte Verde  1169007872647055360  2840661058008040960

In [8]:
d_cidade.describe()

           state_id       city_id
count  1.000000e+02  1.000000e+02
mean   1.852996e+18  1.626605e+18
std    7.736100e+17  9.344515e+17
min    3.964692e+17  6.032041e+16
25%    1.255006e+18  8.055697e+17
50%    1.916636e+18  1.624003e+18
75%    2.755422e+18  2.309606e+18
max    3.349851e+18  3.287373e+18

In [9]:
d_cidade.shape

(100, 3)

In [10]:
d_cidade.isnull().sum()

city        0
state_id    0
city_id     0
dtype: int64

In [11]:
d_cidade.duplicated().sum()

np.int64(0)

In [12]:
d_estado = pd.read_csv("estado.csv", sep=",")

In [13]:
d_estado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   state       22 non-null     object
 1   country_id  22 non-null     int64
 2   state_id    22 non-null     int64
dtypes: int64(2), object(1)
memory usage: 660.0+ bytes

In [14]:
d_estado.isnull().sum()

state         0
country_id    0
state_id      0
dtype: int64

In [15]:
d_cidade.duplicated().sum()

np.int64(0)

In [16]:
d_pais = pd.read_csv("pais.csv", sep=",")

In [17]:
d_pais.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     1 non-null      object
 1   country_id  1 non-null      int64
dtypes: int64(1), object(1)
memory usage: 148.0+ bytes

In [18]:
d_pais.isnull().sum()

country       0
country_id    0
dtype: int64

In [19]:
d_pais.duplicated().sum()

np.int64(0)

In [20]:
d_pais.head()

  country          country_id
0  Brasil  465471097668177088

In [21]:
d_cliente = pd.read_csv("pais.csv", sep=",")

In [22]:
d_cliente.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     1 non-null      object
 1   country_id  1 non-null      int64
dtypes: int64(1), object(1)
memory usage: 148.0+ bytes

In [23]:
d_cliente.isnull().sum()

country       0
country_id    0
dtype: int64

In [24]:
d_cliente.duplicated().sum()

np.int64(0)

In [25]:
d_contas = pd.read_csv("contas.csv", sep=",")

In [26]:
d_contas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   account_id           4000 non-null   int64
 1   customer_id          4000 non-null   int64
 2   created_at           4000 non-null   object
 3   status               4000 non-null   object
 4   account_branch       4000 non-null   int64
 5   account_check_digit  4000 non-null   int64
 6   account_number       4000 non-null   int64
dtypes: int64(5), object(2)
memory usage: 218.9+ KB

In [27]:
d_contas.isnull().sum()

account_id             0
customer_id            0
created_at             0
status                 0
account_branch         0
account_check_digit    0
account_number         0
dtype: int64

In [28]:
d_contas.duplicated().sum()

np.int64(0)

In [29]:
d_mov_pix = pd.read_csv("mov_pix.csv", sep=",")

In [30]:
d_mov_pix['pix_requested_at'] = pd.to_datetime(d_mov_pix['pix_requested_at'])
d_mov_pix['pix_completed_at'] = pd.to_datetime(d_mov_pix['pix_completed_at'])

d_mov_pix['pix_requested_at_fmt'] = d_mov_pix['pix_requested_at'].dt.strftime('%Y-%m-%d %H:%M:%S.%f').str[:-6]
d_mov_pix['pix_completed_at_fmt'] = d_mov_pix['pix_completed_at'].dt.strftime('%Y-%m-%d %H:%M:%S.%f').str[:-6]

In [31]:
d_mov_pix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249882 entries, 0 to 249881
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    249882 non-null  int64
 1   account_id            249882 non-null  int64
 2   in_or_out             249882 non-null  object
 3   pix_amount            249882 non-null  float64
 4   pix_requested_at      249882 non-null  datetime64[ns]
 5   pix_completed_at      237283 non-null  datetime64[ns]
 6   status                249882 non-null  object
 7   pix_requested_at_fmt  249882 non-null  object
 8   pix_completed_at_fmt  237283 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(2), object(4)
memory usage: 17.2+ MB

In [32]:
d_mov_pix.isnull().sum()

id                          0
account_id                  0
in_or_out                   0
pix_amount                  0
pix_requested_at            0
pix_completed_at        12599
status                      0
pix_requested_at_fmt        0
pix_completed_at_fmt    12599
dtype: int64

In [33]:
d_mov_pix.duplicated().sum()

np.int64(0)

In [34]:
d_mov_pix.head()

,id,account_id,in_or_out,pix_amount,pix_requested_at,pix_completed_at,status,pix_requested_at_fmt,pix_completed_at_fmt
0,1362907709468179968,509281836645315264,pix_out,1894.77,1970-01-01 00:26:19.693633580,1970-01-01 00:26:19.693646070,completed,1970-01-01 00:26:19.,1970-01-01 00:26:19.
1,2246794118022659072,509281836645315264,pix_out,419.79,1970-01-01 00:26:27.309244550,1970-01-01 00:26:27.309252480,completed,1970-01-01 00:26:27.,1970-01-01 00:26:27.
2,165696026045637376,509281836645315264,pix_in,943.61,1970-01-01 00:26:49.306218320,1970-01-01 00:26:49.306227350,completed,1970-01-01 00:26:49.,1970-01-01 00:26:49.
3,919545932589046400,509281836645315264,pix_in,124.66,1970-01-01 00:26:26.015734430,1970-01-01 00:26:26.015747590,completed,1970-01-01 00:26:26.,1970-01-01 00:26:26.
4,2001212142240523008,509281836645315264,pix_out,775.96,1970-01-01 00:26:30.974667000,1970-01-01 00:26:30.974672740,completed,1970-01-01 00:26:30.,1970-01-01 00:26:30.

In [36]:
d_entrada_pix = pd.read_csv("entrada_fluxo.csv", sep=",")

In [37]:
d_entrada_pix.head()

,id,account_id,amount,transaction_requested_at,transaction_completed_at,status
0,652457358030649600,509281836645315264,1481.33,1579073609010,1.579074e+12,completed
1,1622746437516706816,509281836645315264,995.36,1595780510110,1.595781e+12,completed
2,3058959614108198912,509281836645315264,1434.46,1604881881770,1.604882e+12,completed
3,457871451423558528,509281836645315264,1222.86,1586867997040,1.586868e+12,completed
4,1010759752842629248,509281836645315264,1098.50,1595915655430,1.595916e+12,completed

In [38]:
d_entrada_pix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125273 entries, 0 to 125272
Data columns (total 6 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id                        125273 non-null  int64
 1   account_id                125273 non-null  int64
 2   amount                    125273 non-null  float64
 3   transaction_requested_at  125273 non-null  int64
 4   transaction_completed_at  118981 non-null  float64
 5   status                    125273 non-null  object
dtypes: float64(2), int64(3), object(1)
memory usage: 5.7+ MB

In [39]:
d_entrada_pix.isnull().sum()

id                             0
account_id                     0
amount                         0
transaction_requested_at       0
transaction_completed_at    6292
status                         0
dtype: int64

In [40]:
d_entrada_pix.duplicated().sum()

np.int64(0)

In [41]:

# Converte as colunas para datetime
d_entrada_pix['transaction_requested_at'] = pd.to_datetime(d_entrada_pix['transaction_requested_at'])
d_entrada_pix['transaction_completed_at'] = pd.to_datetime(d_entrada_pix['transaction_completed_at'])

d_entrada_pix['transaction_requested_at_fmt'] = d_entrada_pix['transaction_requested_at'].dt.strftime('%Y-%m-%d %H:%M:%S.%f').str[:-6]
d_entrada_pix['transaction_completed_at_fmt'] = d_entrada_pix['transaction_completed_at'].dt.strftime('%Y-%m-%d %H:%M:%S.%f').str[:-6]

In [42]:
d_entrada_pix.head(1000)

,id,account_id,amount,transaction_requested_at,transaction_completed_at,status,transaction_requested_at_fmt,transaction_completed_at_fmt
0,652457358030649600,509281836645315264,1481.33,1970-01-01 00:26:19.073609010,1970-01-01 00:26:19.073618020,completed,1970-01-01 00:26:19.,1970-01-01 00:26:19.
1,1622746437516706816,509281836645315264,995.36,1970-01-01 00:26:35.780510110,1970-01-01 00:26:35.780513170,completed,1970-01-01 00:26:35.,1970-01-01 00:26:35.
2,3058959614108198912,509281836645315264,1434.46,1970-01-01 00:26:44.881881770,1970-01-01 00:26:44.881898550,completed,1970-01-01 00:26:44.,1970-01-01 00:26:44.
3,457871451423558528,509281836645315264,1222.86,1970-01-01 00:26:26.867997040,1970-01-01 00:26:26.868000400,completed,1970-01-01 00:26:26.,1970-01-01 00:26:26.
4,1010759752842629248,509281836645315264,1098.50,1970-01-01 00:26:35.915655430,1970-01-01 00:26:35.915671260,completed,1970-01-01 00:26:35.,1970-01-01 00:26:35.
...,...,...,...,...,...,...,...,...
995,944969643170225152,3227781091075923968,1779.16,1970-01-01 00:26:37.001839090,1970-01-01 00:26:37.001855310,completed,1970-01-01 00:26:37.,1970-01-01 00:26:37.
996,577317992167156736,3227781091075923968,1507.06,1970-01-01 00:26:33.291068720,NaT,failed,1970-01-01 00:26:33.,NaN
997,2023415790583783680,3227781091075923968,1259.91,1970-01-01 00:26:22.589581490,1970-01-01 00:26:22.589591090,completed,1970-01-01 00:26:22.,1970-01-01 00:26:22.
998,3380140962074908672,3227781091075923968,67.04,1970-01-01 00:26:44.921675740,1970-01-01 00:26:44.921692070,completed,1970-01-01 00:26:44.,1970-01-01 00:26:44.
999,3180986203386702848,3227781091075923968,515.55,1970-01-01 00:26:26.503684200,1970-01-01 00:26:26.503694440,completed,1970-01-01 00:26:26.,1970-01-01 00:26:26.

In [44]:
d_saida_pix = pd.read_csv("saida_fluxo.csv", sep=",")

In [45]:
d_saida_pix['transaction_requested_at'] = pd.to_datetime(d_saida_pix['transaction_requested_at'])
d_saida_pix['transaction_completed_at'] = pd.to_datetime(d_saida_pix['transaction_completed_at'])

d_saida_pix['transaction_requested_at_fmt'] = d_saida_pix['transaction_requested_at'].dt.strftime('%Y-%m-%d %H:%M:%S.%f').str[:-6]
d_saida_pix['transaction_completed_at_fmt'] = d_saida_pix['transaction_completed_at'].dt.strftime('%Y-%m-%d %H:%M:%S.%f').str[:-6]

In [46]:
d_saida_pix.head(1000)

,id,account_id,amount,transaction_requested_at,transaction_completed_at,status,transaction_requested_at_fmt,transaction_completed_at_fmt
0,327917790912071680,509281836645315264,1794.11,1970-01-01 00:26:18.150053870,1970-01-01 00:26:18.150055960,completed,1970-01-01 00:26:18.,1970-01-01 00:26:18.
1,3029924863588401664,509281836645315264,1197.53,1970-01-01 00:26:42.776874060,1970-01-01 00:26:42.776879440,completed,1970-01-01 00:26:42.,1970-01-01 00:26:42.
2,591077090340000512,509281836645315264,641.24,1970-01-01 00:26:45.026786950,1970-01-01 00:26:45.026790330,completed,1970-01-01 00:26:45.,1970-01-01 00:26:45.
3,64049455087604832,509281836645315264,1698.52,1970-01-01 00:26:28.839389390,1970-01-01 00:26:28.839402200,completed,1970-01-01 00:26:28.,1970-01-01 00:26:28.
4,2594422021474537984,509281836645315264,1140.48,1970-01-01 00:26:38.670849280,1970-01-01 00:26:38.670863910,completed,1970-01-01 00:26:38.,1970-01-01 00:26:38.
...,...,...,...,...,...,...,...,...
995,3172606988527377920,1092591810760307072,1291.03,1970-01-01 00:26:43.967111570,1970-01-01 00:26:43.967117420,completed,1970-01-01 00:26:43.,1970-01-01 00:26:43.
996,237017366219139200,1092591810760307072,308.71,1970-01-01 00:26:29.480867650,1970-01-01 00:26:29.480885180,completed,1970-01-01 00:26:29.,1970-01-01 00:26:29.
997,941147987645160320,1092591810760307072,1656.44,1970-01-01 00:26:39.435902270,1970-01-01 00:26:39.435905130,completed,1970-01-01 00:26:39.,1970-01-01 00:26:39.
998,3029207615073377792,1092591810760307072,1211.69,1970-01-01 00:26:21.558729680,NaT,failed,1970-01-01 00:26:21.,NaN
999,1919102238108061696,1092591810760307072,81.67,1970-01-01 00:26:25.447707230,1970-01-01 00:26:25.447711260,completed,1970-01-01 00:26:25.,1970-01-01 00:26:25.

In [47]:
d_entrada_saida = pd.merge(d_entrada_pix, d_saida_pix, on='account_id', how='left')

In [48]:
d_entrada_saida.head(1000)

,id_x,account_id,amount_x,transaction_requested_at_x,transaction_completed_at_x,status_x,transaction_requested_at_fmt_x,transaction_completed_at_fmt_x,id_y,amount_y,transaction_requested_at_y,transaction_completed_at_y,status_y,transaction_requested_at_fmt_y,transaction_completed_at_fmt_y
0,652457358030649600,509281836645315264,1481.33,1970-01-01 00:26:19.073609010,1970-01-01 00:26:19.073618020,completed,1970-01-01 00:26:19.,1970-01-01 00:26:19.,3.279178e+17,1794.11,1970-01-01 00:26:18.150053870,1970-01-01 00:26:18.150055960,completed,1970-01-01 00:26:18.,1970-01-01 00:26:18.
1,652457358030649600,509281836645315264,1481.33,1970-01-01 00:26:19.073609010,1970-01-01 00:26:19.073618020,completed,1970-01-01 00:26:19.,1970-01-01 00:26:19.,3.029925e+18,1197.53,1970-01-01 00:26:42.776874060,1970-01-01 00:26:42.776879440,completed,1970-01-01 00:26:42.,1970-01-01 00:26:42.
2,652457358030649600,509281836645315264,1481.33,1970-01-01 00:26:19.073609010,1970-01-01 00:26:19.073618020,completed,1970-01-01 00:26:19.,1970-01-01 00:26:19.,5.910771e+17,641.24,1970-01-01 00:26:45.026786950,1970-01-01 00:26:45.026790330,completed,1970-01-01 00:26:45.,1970-01-01 00:26:45.
3,652457358030649600,509281836645315264,1481.33,1970-01-01 00:26:19.073609010,1970-01-01 00:26:19.073618020,completed,1970-01-01 00:26:19.,1970-01-01 00:26:19.,6.404946e+16,1698.52,1970-01-01 00:26:28.839389390,1970-01-01 00:26:28.839402200,completed,1970-01-01 00:26:28.,1970-01-01 00:26:28.
4,652457358030649600,509281836645315264,1481.33,1970-01-01 00:26:19.073609010,1970-01-01 00:26:19.073618020,completed,1970-01-01 00:26:19.,1970-01-01 00:26:19.,2.594422e+18,1140.48,1970-01-01 00:26:38.670849280,1970-01-01 00:26:38.670863910,completed,1970-01-01 00:26:38.,1970-01-01 00:26:38.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2288422297151316736,509281836645315264,1978.68,1970-01-01 00:26:35.475239050,1970-01-01 00:26:35.475254430,completed,1970-01-01 00:26:35.,1970-01-01 00:26:35.,3.020104e+18,1415.81,1970-01-01 00:26:29.312814200,1970-01-01 00:26:29.312829790,completed,1970-01-01 00:26:29.,1970-01-01 00:26:29.
996,2288422297151316736,509281836645315264,1978.68,1970-01-01 00:26:35.475239050,1970-01-01 00:26:35.475254430,completed,1970-01-01 00:26:35.,1970-01-01 00:26:35.,9.774365e+17,483.66,1970-01-01 00:26:40.899767260,1970-01-01 00:26:40.899775290,completed,1970-01-01 00:26:40.,1970-01-01 00:26:40.
997,2288422297151316736,509281836645315264,1978.68,1970-01-01 00:26:35.475239050,1970-01-01 00:26:35.475254430,completed,1970-01-01 00:26:35.,1970-01-01 00:26:35.,1.773213e+18,444.32,1970-01-01 00:26:21.394310390,1970-01-01 00:26:21.394312360,completed,1970-01-01 00:26:21.,1970-01-01 00:26:21.
998,2288422297151316736,509281836645315264,1978.68,1970-01-01 00:26:35.475239050,1970-01-01 00:26:35.475254430,completed,1970-01-01 00:26:35.,1970-01-01 00:26:35.,1.154251e+18,446.74,1970-01-01 00:26:18.851460990,1970-01-01 00:26:18.851473380,completed,1970-01-01 00:26:18.,1970-01-01 00:26:18.
999,2288422297151316736,509281836645315264,1978.68,1970-01-01 00:26:35.475239050,1970-01-01 00:26:35.475254430,completed,1970-01-01 00:26:35.,1970-01-01 00:26:35.,6.752385e+17,907.17,1970-01-01 00:26:47.418656570,1970-01-01 00:26:47.418670640,completed,1970-01-01 00:26:47.,1970-01-01 00:26:47.